**/.pre-commit-config.yaml
**/__pycache__
**/.cache
**/*.class
**/.classpath
**/.dockerignore
**/.env
**/.venv
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/*.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/README.md
*.DS_Store
**/bitbucket-pipelines.yml
