[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.85.x"
psycopg2-binary = "2.9.x"
requests = "2.31.0"
sqlalchemy = "1.4.x"

[dev-packages]
black = "*"
pylint = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"

[requires]
python_version = "3.10"
