[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.85.x"
psycopg2-binary = "2.9.x"
requests = "2.28.x"
sqlalchemy = "1.4.x"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
pylint = "*"

[requires]
python_version = "3.10"
